.enrollment-container {
    .left-box {
        padding-top: 40px;
        padding-left: 45px;
        padding-right: 45px;

        .form-group {
            margin-top: 20px;

            .form-control {
                max-width: 250px;
                margin-bottom: 7px;
            }

            span {
                font-size: 12px;
                line-height: 16px;
                margin-top: 3px;
                color: #aaaaaa;
            }
        }

        .captcha-content {
            margin-top: 0px;
            padding-top: 0px;

            .form-group {
                display: block;

                .form-control {
                    width: 31%;
                    display: inline-block;
                }
            }

            .captcha-text {
                display: inline-flex;
                vertical-align: middle;

                h2 {
                    margin: 0 20px;
                    font-size: 25px;
                    line-height: 30px;
                }

                span {
                    color: #0eb8d2;
                    font-size: 25px;
                    line-height: 30px;
                }

                p {
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #000000;
                    margin: 0 0 0 20px;
                }
            }

        }

        .form-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            margin-top: 20px;
        }
    }
}

@media (max-width: 600px) {
    .enrollment-container {
        .left-box {
            padding-left: 15px;
            padding-right: 15px;

            .captcha-content {
                .form-group {
                    .form-control {
                        width: 100%;
                    }
                }

                .captcha-text {
                    padding-top: 10px;

                    h2 {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}